<footer class="container-fluid impressum-container" id="impressum-container">
  <div class="container">
    <div class="row center-block">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <ul>
          <li>KREMANSKI</li>
          <li>Adalbertstrasse 96</li>
          <li>10999 Berlin</li>
          <br/>
          <li><a href="http://www.kremanski.de">www.kremanski.de</a></li>
          <li><a href="mailto:mail@kremanski.de">mail@kremanski.de</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <ul>
          <li>Inhaber und Geschäftsführer: Andreas Bembenek</li>
          <li>U-St-Nr 114/224/01607</li>
          <br/>
          <li><strong>Haftungshinweis:</strong><br/>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <ul>
          <li><strong>Design und Programmierung</strong></li>
          <br/>
          <li>Camilla Hoffmann /
            <a href="http://www.camilla.de/" target="_blank"> camilla.de</a>
          </li>
          <li>Cosima Kaibel</li>
          <li>Marco Steffensky /
            <a href="http://www.marcosteffensky.de/" target="_blank"> marcosteffensky.de</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
