---
layout: default
---

<img "Kremanski_Logo_440px.png" class="lunch_logo" />

<p class="lunch_date">{{ site.time | date: "%d.%m.%Y" }}</p>

<div class="container lunch_content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 editable" data-cms-content-wrapper="/kremanski/_layouts/lunch.html">
      <p>Fill that empty void with a wholesome Lunch!</p>
      <p>* JAMON SERRANO MASCARPONE TOAST (7,9)</p>
      <p>with marinated mozzarella, carmelized onion, slivered almonds, green garlic honey sauce and a side of homemade sauerkraut</p>
      <p>+ avocado (1)</p>
      <p>* GRILLED SHITAKE SALAD (7,9)</p>
      <p>with avocado, boiled egg, rotkohl salad, chili oil and bread</p>
      <p>+ jamon serrano (1,5)</p>
      <p>+ lachs (1,5)</p>
      <p>*THE SOUP: (parsnip, ginger, lemongrass) with bread and dip (5,-)</p>
      <p>*THE QUICHE (seasonal vegetables) without or with salad (3,9/6,-)</p>
      <p>*THE CAKES: Queen Shuntaro&acute;s Cheesecake, Raspberry Cheesecake, Someone's Grandma's Apple Cake, Lemon Lavander Cake, Vegan Brownie, Vegan Banana Bread..</p>
      <p>plus a delicious Passenger cup of coffee, the sun and a smile :) you can`t ask for anything better!</p>
    </div>
  </div>
</div>
