---
layout: default
---

% img "Kremanski_Logo_440px.png" class:"lunch_logo" %}

<p class="lunch_date">{{ site.time | date: "%d.%m.%Y" }}</p>

<div class="container lunch_content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 editable" data-cms-content-wrapper="/kremanski/_layouts/lunch.html">
      <p>The day of love.</p>
      <p>The food for lovers.</p>
      <p>*THE SANDWICH: shredded chicken, salted lemon, grana padano and sundried tomatoes on Ciabatta Bread (7,5)</p>
      <p>*THE TOAST: avocado + smoked makrele on Bio bread with pumpkins seed-garlic-honey with hm kraut (7,5)</p>
      <p>(VEGETARIAN OPTION) - makrele + feta (6,9)</p>
      <p>*THE SOUP: (mungbean, garlic, chili, coriander) with bread and dip (5,-)</p>
      <p>*THE QUICHE (mix vegetables) without or with salad (3,9/6,-)</p>
      <p>*THE CAKES: Queen Shuntaro&acute;s CXheesecake, Valentine Carrots Cake, Raspberry Cheesecake, Shoko Haselnuts Espresso Cake, Vegan Brownie, Vegan Banana Bread..</p>
      <p>and a lovely team, what else!?!??!</p>
    </div>
  </div>
</div>
