---
layout: default
---
{% img "Kremanski_Logo_440px.png" class:"lunch_logo" %}

<p class="lunch_date">{{ site.time | date: "%d.%m.%Y" }}</p>

<div class="container lunch_content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 editable" data-cms-content-wrapper="/kremanski/_layouts/lunch.html"><p>Come find the sun in this grey day.</p><p>* Kookoo Sabzi (Persian Herbs Omelette) with creamy dip, spicy apple slaw, pickled radish (6,9)</p><p>* Lentil-Beets-Cauliflower-Eggplant stew with walnuts garlic sauce (VEGAN) (6,5)</p><p>+ Grana Padano (1,-)</p><p>+ Poached Egg (1,-)</p><p>+ Italian Sausage (2,-)</p><p>* Soup (Paprika-Tomato-Pumpkins-Carrots) + Dip &amp; Bread (5,-)</p><p>* Quiche (Eggplant-Mushrooms-Pumpkins) -/+ side of salad (3,9/6,-)</p><p>and....CARROTS CAKE, QUEEN SUNTARO&acute;S CHEESECAKE, SOMEONE&acute;S GRANDMA APPLECAKE, CHEESECAKE WITH BLUEBERRY COVER, VEGNA BROWNIE; VEGAN BANANA BREAD...</p><p>what&acute;s zour next move!?!?</p></div>
  </div>
</div>
